<!DOCTYPE html>
<html>

<head>
  <title>Cisco Spark Integration (OAuth flow)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div id="content">
    <h1>OAuth Integration example: authenticated</h1>
    <p>So happy to meet,
      <%= displayName %> !</p>
  </div>
</body>

</html>